openapi: 3.0.3
info:
  title: Alexa HTTP APIs used by go-alexa
  version: 0.1.0
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  description: 'This is an implementation-derived description of HTTP routes, request shapes,

    and response models used by the current go-alexa source. It is not an

    Amazon-issued API contract. There are no sanitized live HTTP captures in

    this repository, so these shapes have not been verified against current

    service behavior. Synthetic test data is not evidence of provider behavior.

    See the Alexa AsyncAPI document for the directive stream parsed by the

    library, and the GraphQL schema for its GraphQL subset.

    '
servers:
- url: https://api.amazonalexa.com
  description: Default REST base URL in go-alexa.
  x-go-alexa-region: na
- url: https://api.eu.amazonalexa.com
  description: EU REST base URL constant in go-alexa.
  x-go-alexa-region: eu
- url: https://api.jp.amazonalexa.com
  description: Japan REST base URL constant in go-alexa.
  x-go-alexa-region: jp
security:
- BearerToken: []
x-go-alexa-request-headers:
- Accept
- Authorization
- Content-Type
- Cookie
- DNT
- Origin
- Referer
- User-Agent
- csrf
- x-amzn-identity-auth-domain
tags:
- name: GraphQL
  description: GraphQL HTTP envelope used by the Alexa web API.
paths:
  /nexus/v1/graphql:
    post:
      tags:
      - GraphQL
      operationId: executeNexusGraphQL
      summary: Execute a GraphQL operation
      description: 'The generic GraphQL client posts one of the seven generated operation

        documents with optional variables to this route. Other documents are

        rejected before network I/O. This shape is derived from the

        current client serializer and GraphQL schema, not from an Amazon-issued

        HTTP contract or a sanitized live capture.

        '
      servers:
      - url: https://alexa.amazon.com
      - url: https://alexa.amazon.co.uk
      - url: https://alexa.amazon.co.jp
      security:
      - BearerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WireGraphQLRequest'
      responses:
        '200':
          description: GraphQL data or operation errors decoded by the client.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WireGraphQLResponse'
        default:
          $ref: '#/components/responses/UnhandledResponse'
components:
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
      description: The client sends its supplied access token in the Authorization header.
  schemas:
    WireGraphQLResponse:
      type: object
      properties:
        data:
          type: object
          additionalProperties: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WireGraphQLError'
      additionalProperties: true
    WireGraphQLError:
      type: object
      properties:
        message:
          type: string
        locations:
          type: array
          items:
            $ref: '#/components/schemas/WireGraphQLErrorLocation'
        path:
          type: array
          items: {}
        extensions:
          type: object
          additionalProperties: true
      required:
      - message
      additionalProperties: true
    WireGraphQLErrorLocation:
      type: object
      properties:
        line:
          type: integer
        column:
          type: integer
      required:
      - line
      - column
    WireGraphQLRequest:
      type: object
      properties:
        query:
          type: string
        operationName:
          type: string
        variables:
          type: object
          additionalProperties: true
          x-go-type-skip-optional-pointer: true
      required:
      - query
      additionalProperties: true
  responses:
    UnhandledResponse:
      description: Response not decoded into a success model by this operation.
