openapi: 3.0.3
info:
  title: Alexa HTTP APIs used by go-alexa
  version: 0.1.0
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  description: |
    This is an implementation-derived description of HTTP routes, request shapes,
    and response models used by the current go-alexa source. It is not an
    Amazon-issued API contract. There are no sanitized live HTTP captures in
    this repository, so these shapes have not been verified against current
    service behavior. Synthetic test data is not evidence of provider behavior.
    See the Alexa AsyncAPI document for the directive stream parsed by the
    library, and the GraphQL schema for its GraphQL subset.
servers:
  - url: https://api.amazonalexa.com
    description: Default REST base URL in go-alexa.
    x-go-alexa-region: na
  - url: https://api.eu.amazonalexa.com
    description: EU REST base URL constant in go-alexa.
    x-go-alexa-region: eu
  - url: https://api.jp.amazonalexa.com
    description: Japan REST base URL constant in go-alexa.
    x-go-alexa-region: jp
tags:
  - name: Account linking
    description: Caller-facing authorization entry point, code-pair registration, and token operations implemented by go-alexa.
  - name: Endpoints
    description: Endpoint enumeration and direct endpoint operations implemented by go-alexa.
  - name: Alexa web APIs
    description: Cookie-backed account and first-party device routes used by go-alexa.
  - name: Media
    description: First-party media routes used by go-alexa.
  - name: Event stream
    description: Long-lived HTTP/2 connection and keepalive operations.
security:
  - BearerToken: []
paths:
  /ap/oa:
    get:
      tags: [Account linking]
      operationId: openAuthorizationPage
      summary: Start caller-managed account authorization
      description: |
        go-alexa exports regional authorization URLs using this path. The
        library does not dispatch this request; callers direct an account
        holder to the URL and add authorization query values. The path is
        implementation-derived and is not a provider-verified OAuth contract.
      servers:
        - url: https://api.amazon.com
          x-go-alexa-region: na
        - url: https://api.amazon.co.uk
          x-go-alexa-region: eu
        - url: https://api.amazon.co.jp
          x-go-alexa-region: jp
      security: []
      responses:
        default:
          description: Browser navigation response is not decoded by go-alexa.
  /auth/create/codepair:
    post:
      tags: [Account linking]
      operationId: createCodePair
      summary: Request a code pair
      description: |
        The client posts device registration metadata and an empty scopes array
        to the Amazon API base URL. The returned public and private codes are
        credentials; keep them out of logs and source control. The route and
        model describe the current implementation only.
      servers:
        - url: https://api.amazon.com
        - url: https://api.amazon.co.uk
        - url: https://api.amazon.co.jp
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WireCodePairRequest'
      responses:
        '200':
          description: Response decoded by the current code-pair client.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WireCodePairResponse'
        default:
          $ref: '#/components/responses/UnhandledResponse'
  /auth/register:
    post:
      tags: [Account linking]
      operationId: registerDevice
      summary: Register using a code pair or credentials
      description: |
        The current client constructs either `auth_data.code_pair` or
        `auth_data.email_password` and sends a device registration request.
        The email/password helper is present in the source but is not the
        recommended linking flow. A 4xx response may be parsed as a challenge
        body by the email/password helper. This source-derived description is
        not a statement that either flow is currently accepted by the service.
      servers:
        - url: https://api.amazon.com
        - url: https://api.amazon.co.uk
        - url: https://api.amazon.co.jp
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WireRegistrationRequest'
      responses:
        '200':
          description: Successful registration body decoded by go-alexa.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WireRegistrationResponse'
        '4XX':
          description: The email/password helper attempts to decode challenge fields from this response body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WireChallengeResponse'
        default:
          $ref: '#/components/responses/UnhandledResponse'
  /auth/token:
    post:
      tags: [Account linking]
      operationId: refreshAccessToken
      summary: Exchange a refresh token
      description: |
        The request body is assembled by `rest.Client.RefreshAccessToken`.
        The source token and returned access token are secrets. This documents
        the client's serialization and decoding shapes, not verified service
        behavior.
      servers:
        - url: https://api.amazon.com
        - url: https://api.amazon.co.uk
        - url: https://api.amazon.co.jp
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WireTokenRefreshRequest'
      responses:
        '200':
          description: Response decoded by the current token refresh helper.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WireTokenRefreshResponse'
        default:
          $ref: '#/components/responses/UnhandledResponse'
  /ap/exchangetoken/cookies:
    post:
      tags: [Account linking]
      operationId: exchangeRefreshTokenForCookies
      summary: Exchange a refresh token for cookies
      description: |
        The client sends this request to `https://api.{domain}` with an
        `x-amzn-identity-auth-domain` header. The body and returned cookies
        contain authentication material. The caller-provided domain is not
        validated by the library.
      servers:
        - url: https://api.{domain}
          variables:
            domain:
              default: amazon.com
              description: Domain supplied to the cookie exchange method.
      security: []
      parameters:
        - name: x-amzn-identity-auth-domain
          in: header
          required: true
          description: Set by the cookie exchange implementation to `api.{domain}`.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WireCookieExchangeRequest'
      responses:
        '200':
          description: Cookie collection decoded by the current helper.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WireCookieExchangeResponse'
        default:
          $ref: '#/components/responses/UnhandledResponse'
  /v2/endpoints:
    get:
      tags: [Endpoints]
      operationId: listRestEndpoints
      summary: List endpoints through the REST client
      description: |
        This operation is implemented by `rest.Client.GetEndpoints`. The public
        `alexa.Client.ListEndpoints` operation uses GraphQL and a separate
        device lookup; it does not call this route in its current
        implementation. `owner` defaults to `~caller` in this REST helper.
      parameters:
        - $ref: '#/components/parameters/Owner'
        - $ref: '#/components/parameters/Expand'
        - $ref: '#/components/parameters/MaxResults'
        - $ref: '#/components/parameters/NextToken'
      responses:
        '200':
          description: Endpoint list decoded by the REST helper.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WireEndpointListResponse'
        default:
          $ref: '#/components/responses/UnhandledResponse'
  /v2/endpoints/{endpointId}:
    get:
      tags: [Endpoints]
      operationId: getRestEndpoint
      summary: Get one endpoint through the REST client
      parameters:
        - $ref: '#/components/parameters/EndpointId'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          description: Endpoint decoded by the REST helper.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WireDevice'
        default:
          $ref: '#/components/responses/UnhandledResponse'
  /v2/endpoint-query:
    post:
      tags: [Endpoints]
      operationId: queryRestEndpoints
      summary: Query endpoints through the REST client
      parameters:
        - $ref: '#/components/parameters/Expand'
        - $ref: '#/components/parameters/MaxResults'
        - $ref: '#/components/parameters/NextToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WireEndpointQueryRequest'
      responses:
        '200':
          description: Endpoint list decoded by the REST helper.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WireEndpointListResponse'
        default:
          $ref: '#/components/responses/UnhandledResponse'
  /v2/endpoints/{endpointId}/forget:
    post:
      tags: [Endpoints]
      operationId: forgetEndpoint
      summary: Request that an endpoint be forgotten
      parameters:
        - $ref: '#/components/parameters/EndpointId'
      responses:
        '200':
          description: The implementation accepts a successful response without decoding a body.
        default:
          $ref: '#/components/responses/UnhandledResponse'
  /v2/endpoints/{endpointId}/deregister:
    post:
      tags: [Endpoints]
      operationId: deregisterEndpoint
      summary: Request endpoint deregistration
      parameters:
        - $ref: '#/components/parameters/EndpointId'
      responses:
        '200':
          description: The implementation accepts a successful response without decoding a body.
        default:
          $ref: '#/components/responses/UnhandledResponse'
  /v2/endpoints/{endpointId}/friendlyName:
    post:
      tags: [Endpoints]
      operationId: updateEndpointFriendlyName
      summary: Submit a friendly name for an endpoint
      parameters:
        - $ref: '#/components/parameters/EndpointId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WireFriendlyNameRequest'
      responses:
        '200':
          description: The implementation accepts a successful response without decoding a body.
        default:
          $ref: '#/components/responses/UnhandledResponse'
  /v2/endpoints/{endpointId}/control:
    post:
      tags: [Endpoints]
      operationId: controlRestEndpoint
      summary: Submit a legacy endpoint control command
      description: The command body is built by the legacy REST helper; current top-level client controls use other operations.
      parameters:
        - $ref: '#/components/parameters/EndpointId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WireCommand'
      responses:
        '200':
          description: The implementation accepts a successful response without decoding a body.
        default:
          $ref: '#/components/responses/UnhandledResponse'
  /v2/endpoints/{endpointId}/interfaces/{feature}/{operation}/:
    post:
      tags: [Endpoints]
      operationId: sendEndpointInterfaceMessage
      summary: Submit an endpoint interface payload
      description: |
        The current implementation appends a trailing slash to this route and
        sends the caller payload as the JSON request body, or an empty object
        when the payload is nil. Feature and operation are open strings in the
        client and are not enumerated here.
      parameters:
        - $ref: '#/components/parameters/EndpointId'
        - name: feature
          in: path
          required: true
          description: Feature name supplied by the caller.
          schema:
            type: string
        - name: operation
          in: path
          required: true
          description: Operation name supplied by the caller.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WireInterfacePayload'
      responses:
        '200':
          description: The implementation accepts a successful response without decoding a body.
        default:
          $ref: '#/components/responses/UnhandledResponse'
  /api/devices-v2/device:
    get:
      tags: [Alexa web APIs]
      operationId: listFirstPartyDevices
      summary: List first-party device records
      description: |
        The REST helper sends either a bearer authorization header or a cookie
        header. A supplied CSRF option is serialized as a `Cookie` header.
        The response model is based on the Go fields currently decoded by the
        client and is not verified against a live response.
      servers:
        - url: https://alexa.amazon.com
        - url: https://alexa.amazon.co.uk
        - url: https://alexa.amazon.co.jp
      security:
        - BearerToken: []
        - CookieHeader: []
      parameters:
        - name: csrf
          in: header
          required: false
          description: The helper can send this value in its Cookie header.
          schema:
            type: string
      responses:
        '200':
          description: Device list decoded by the current helper.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WireDevicesV2Response'
        default:
          $ref: '#/components/responses/UnhandledResponse'
  /api/users/me:
    get:
      tags: [Alexa web APIs]
      operationId: getUserInfo
      summary: Read the current account profile
      description: The decoded response contains personal account information. Treat it as sensitive data.
      servers:
        - url: https://alexa.amazon.com
          x-go-alexa-region: na
        - url: https://alexa.amazon.co.uk
          x-go-alexa-region: eu
        - url: https://alexa.amazon.co.jp
          x-go-alexa-region: jp
      security:
        - BearerToken: []
        - CookieHeader: []
      parameters:
        - name: platform
          in: query
          required: false
          schema:
            type: string
        - name: version
          in: query
          required: false
          schema:
            type: string
        - name: csrf
          in: header
          required: false
          description: A supplied CSRF token is serialized as a Cookie header by the helper.
          schema:
            type: string
      responses:
        '200':
          description: Account profile decoded by the current helper.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WireUserInfo'
        default:
          $ref: '#/components/responses/UnhandledResponse'
  /api/language:
    get:
      tags: [Alexa web APIs]
      operationId: fetchCsrfCookie
      summary: Request the language route while looking for a CSRF cookie
      description: |
        This helper sends its stored cookies and checks the response cookies
        for a cookie named `csrf`. It does not decode the response body or
        validate a provider status code in this path.
      servers:
        - url: https://alexa.amazon.com
        - url: https://alexa.amazon.co.uk
        - url: https://alexa.amazon.co.jp
      security:
        - CookieHeader: []
      responses:
        '200':
          description: The client only inspects response cookies; the body shape is unknown to this implementation.
          headers:
            Set-Cookie:
              description: The helper looks for a cookie whose name is `csrf`.
              schema:
                type: string
        default:
          $ref: '#/components/responses/UnhandledResponse'
  /api/behaviors/preview:
    post:
      tags: [Alexa web APIs]
      operationId: submitBehaviorPreview
      summary: Submit a behavior preview sequence
      description: |
        The sequence itself is JSON encoded into the `sequenceJson` string.
        The library sets `behaviorId` to `PREVIEW` and `status` to `ENABLED`.
        This describes serialization in the source, not the service's current
        acceptance rules.
      servers:
        - url: https://alexa.amazon.com
        - url: https://alexa.amazon.co.uk
        - url: https://alexa.amazon.co.jp
      security:
        - BearerToken: []
        - CookieHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WireBehaviorPreviewRequest'
      responses:
        '200':
          description: The implementation accepts a successful response without decoding a body.
        default:
          $ref: '#/components/responses/UnhandledResponse'
  /api/np/command:
    post:
      tags: [Media]
      operationId: sendMediaCommand
      summary: Submit a media command
      description: |
        The helper supplies device serial and type as query parameters and sends
        a media command JSON body. The client currently uses the command values
        PlayCommand, PauseCommand, NextCommand, PreviousCommand, ForwardCommand,
        RewindCommand, ShuffleCommand, and RepeatCommand.
      servers:
        - url: https://alexa.amazon.com
        - url: https://alexa.amazon.co.uk
        - url: https://alexa.amazon.co.jp
      security:
        - BearerToken: []
        - CookieHeader: []
      parameters:
        - $ref: '#/components/parameters/DeviceSerialNumber'
        - $ref: '#/components/parameters/DeviceType'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WireMediaCommand'
      responses:
        '200':
          description: The implementation accepts a successful response without decoding a body.
        default:
          $ref: '#/components/responses/UnhandledResponse'
  /api/np/player:
    get:
      tags: [Media]
      operationId: getMediaPlayerState
      summary: Read media player state
      description: The response fields reflect the model currently decoded by go-alexa and may vary by account or device.
      servers:
        - url: https://alexa.amazon.com
        - url: https://alexa.amazon.co.uk
        - url: https://alexa.amazon.co.jp
      security:
        - BearerToken: []
        - CookieHeader: []
      parameters:
        - $ref: '#/components/parameters/DeviceSerialNumber'
        - $ref: '#/components/parameters/DeviceType'
      responses:
        '200':
          description: Player state decoded by the current helper.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WirePlayerStateResponse'
        default:
          $ref: '#/components/responses/UnhandledResponse'
  /nexus/v1/graphql:
    post:
      tags: [Alexa web APIs]
      operationId: executeNexusGraphQL
      summary: Execute a GraphQL operation
      description: |
        The generic GraphQL client posts a query, optional operation name, and
        optional variables to this route. This shape is derived from the
        current client serializer and GraphQL schema, not from an Amazon-issued
        HTTP contract or a sanitized live capture.
      servers:
        - url: https://alexa.amazon.com
        - url: https://alexa.amazon.co.uk
        - url: https://alexa.amazon.co.jp
      security:
        - BearerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WireGraphQLRequest'
      responses:
        '200':
          description: GraphQL data or operation errors decoded by the client.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WireGraphQLResponse'
        default:
          $ref: '#/components/responses/UnhandledResponse'
  /v20160207/directives:
    get:
      tags: [Event stream]
      operationId: openDirectiveStream
      summary: Open the long-lived directive response
      description: |
        The implementation uses an HTTP/2 transport and a bearer token, then
        reads the response as newline-delimited text. It skips lines beginning
        with `------` and `Content-Type:` and parses other JSON lines as
        directives. The exact response media type, boundary syntax, and current
        provider payloads are not established by a live capture. See the
        AsyncAPI reference for the shape required by the current parser.
      servers:
        - url: https://alexa.na.gateway.devices.a2z.com
          description: Default authority in go-alexa.
        - url: https://alexa.eu.gateway.devices.a2z.com
          description: EU authority constant in go-alexa.
        - url: https://alexa.fe.gateway.devices.a2z.com
          description: Japan authority constant in go-alexa.
      security:
        - BearerToken: []
      responses:
        '200':
          description: Long-lived response consumed by the current HTTP/2 line parser; media type is not asserted.
        default:
          $ref: '#/components/responses/UnhandledResponse'
  /ping:
    get:
      tags: [Event stream]
      operationId: pingDirectiveStream
      summary: Send a directive stream keepalive request
      description: The HTTP/2 connection sends this GET with the same bearer token; the code expects 204 No Content.
      servers:
        - url: https://alexa.na.gateway.devices.a2z.com
        - url: https://alexa.eu.gateway.devices.a2z.com
        - url: https://alexa.fe.gateway.devices.a2z.com
      security:
        - BearerToken: []
      responses:
        '204':
          description: Expected keepalive response; no body is decoded.
        default:
          $ref: '#/components/responses/UnhandledResponse'
components:
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
      description: The client sends its supplied access token in the Authorization header.
    CookieHeader:
      type: apiKey
      in: header
      name: Cookie
      description: The cookie-backed client sends stored cookies in the Cookie header.
  parameters:
    EndpointId:
      name: endpointId
      in: path
      required: true
      description: Endpoint identifier supplied by the caller.
      schema:
        type: string
    Owner:
      name: owner
      in: query
      required: false
      description: Defaults to `~caller` in the current REST helper.
      schema:
        type: string
    Expand:
      name: expand
      in: query
      required: false
      description: Repeated query parameter accepted by the current request builder.
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string
    MaxResults:
      name: maxResults
      in: query
      required: false
      description: Integer pagination value passed through by the current REST helper.
      schema:
        type: integer
    NextToken:
      name: nextToken
      in: query
      required: false
      schema:
        type: string
    DeviceSerialNumber:
      name: deviceSerialNumber
      in: query
      required: true
      description: Derived from the endpoint object by the media helper.
      schema:
        type: string
    DeviceType:
      name: deviceType
      in: query
      required: true
      description: Derived from the endpoint object by the media helper.
      schema:
        type: string
  responses:
    UnhandledResponse:
      description: Response not decoded into a success model by this operation.
  schemas:
    WireCodePairRequest:
      type: object
      properties:
        code_data:
          $ref: '#/components/schemas/WireCodeData'
        scopes:
          type: array
          items:
            type: string
      required: [code_data, scopes]
    WireCodeData:
      type: object
      properties:
        app_name: {type: string}
        app_version: {type: string}
        device_type: {type: string}
        domain: {type: string}
        device_model: {type: string}
        os_version: {type: string}
        device_serial: {type: string}
        device_name: {type: string}
        secondary_registration: {type: string}
      required: [app_name, app_version, device_type, domain, device_model, os_version, device_serial, device_name, secondary_registration]
    WireCodePairResponse:
      type: object
      properties:
        public_code: {type: string}
        private_code: {type: string}
    WireRegistrationRequest:
      type: object
      properties:
        requested_token_type:
          type: array
          items: {type: string}
        registration_data:
          $ref: '#/components/schemas/WireRegistrationData'
        auth_data:
          $ref: '#/components/schemas/WireAuthData'
      required: [requested_token_type, registration_data, auth_data]
    WireRegistrationData:
      type: object
      properties:
        app_name: {type: string}
        app_version: {type: string}
        device_type: {type: string}
        domain: {type: string}
        device_model: {type: string}
        os_version: {type: string}
        device_serial: {type: string}
        device_name: {type: string}
      required: [app_name, app_version, device_type, domain, device_model, os_version, device_serial, device_name]
    WireAuthData:
      type: object
      properties:
        code_pair:
          $ref: '#/components/schemas/WireCodePairAuth'
        email_password:
          $ref: '#/components/schemas/WireEmailPasswordAuth'
    WireCodePairAuth:
      type: object
      properties:
        public_code: {type: string}
        private_code: {type: string}
      required: [public_code, private_code]
    WireEmailPasswordAuth:
      type: object
      properties:
        email: {type: string}
        password: {type: string, format: password}
      required: [email, password]
    WireRegistrationResponse:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/WireRegistrationResponseEnvelope'
    WireRegistrationResponseEnvelope:
      type: object
      properties:
        success:
          $ref: '#/components/schemas/WireRegistrationSuccess'
    WireRegistrationSuccess:
      type: object
      properties:
        tokens:
          $ref: '#/components/schemas/WireRegistrationTokens'
    WireRegistrationTokens:
      type: object
      properties:
        bearer:
          $ref: '#/components/schemas/WireBearerTokens'
    WireBearerTokens:
      type: object
      properties:
        access_token: {type: string, format: password}
        refresh_token: {type: string, format: password}
    WireChallengeResponse:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/WireChallengeEnvelope'
    WireChallengeEnvelope:
      type: object
      properties:
        challenge:
          $ref: '#/components/schemas/WireChallenge'
    WireChallenge:
      type: object
      properties:
        challenge_reason: {type: string}
        required_authentication_method: {type: string}
    WireTokenRefreshRequest:
      type: object
      properties:
        app_name: {type: string}
        app_version: {type: string}
        source_token_type: {type: string}
        source_token: {type: string, format: password}
        requested_token_type: {type: string}
        device_metadata:
          $ref: '#/components/schemas/WireDeviceMetadata'
      required: [app_name, app_version, source_token_type, source_token, requested_token_type, device_metadata]
    WireDeviceMetadata:
      type: object
      properties:
        device_type: {type: string}
        device_model: {type: string}
        os_version: {type: string}
        device_serial: {type: string}
        manufacturer: {type: string}
      required: [device_type, device_model, os_version, device_serial, manufacturer]
    WireTokenRefreshResponse:
      type: object
      properties:
        access_token: {type: string, format: password}
        expires_in: {type: integer}
    WireCookieExchangeRequest:
      type: object
      properties:
        app_name: {type: string}
        requested_token_type: {type: string}
        domain: {type: string}
        source_token_type: {type: string}
        source_token: {type: string, format: password}
      required: [app_name, requested_token_type, domain, source_token_type, source_token]
    WireCookieExchangeResponse:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/WireCookieExchangeEnvelope'
    WireCookieExchangeEnvelope:
      type: object
      properties:
        tokens:
          $ref: '#/components/schemas/WireCookieTokens'
    WireCookieTokens:
      type: object
      properties:
        cookies:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/WireCookieRecord'
    WireCookieRecord:
      type: object
      properties:
        Name: {type: string}
        Value: {type: string, format: password}
        Path: {type: string}
        Secure: {type: boolean}
        HttpOnly: {type: boolean}
        Expires: {type: string}
    WireEndpointListResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/WireDevice'
        nextToken: {type: string}
      additionalProperties: true
    WireDevice:
      type: object
      properties:
        id: {type: string}
        name: {type: string}
        type: {type: string}
        capabilities:
          type: array
          items:
            $ref: '#/components/schemas/WireCapabilityInterface'
        state:
          type: object
          additionalProperties: true
        metadata:
          type: object
          additionalProperties: true
      additionalProperties: true
    WireCapabilityInterface:
      type: string
      description: Open string value; the implementation does not reject unknown capability names.
    WireEndpointQueryRequest:
      type: object
      properties:
        query:
          $ref: '#/components/schemas/WireEndpointQuery'
      required: [query]
    WireEndpointQuery:
      type: object
      properties:
        and:
          type: array
          items:
            $ref: '#/components/schemas/WireEndpointQueryClause'
        or:
          type: array
          items:
            $ref: '#/components/schemas/WireEndpointQueryClause'
        includeFields:
          $ref: '#/components/schemas/WireEndpointIncludeFields'
        paginationContext:
          $ref: '#/components/schemas/WirePaginationContext'
    WireEndpointQueryClause:
      type: object
      properties:
        associatedUnits:
          $ref: '#/components/schemas/WireAssociatedUnitsFilter'
        manufacturer:
          $ref: '#/components/schemas/WireStringFilter'
        model:
          $ref: '#/components/schemas/WireStringFilter'
    WireAssociatedUnitsFilter:
      type: object
      properties:
        id: {type: string}
      required: [id]
    WireStringFilter:
      type: object
      properties:
        value:
          $ref: '#/components/schemas/WireStringFilterValue'
      required: [value]
    WireStringFilterValue:
      type: object
      properties:
        text: {type: string}
      required: [text]
    WireEndpointIncludeFields:
      type: object
      properties:
        states: {type: boolean}
        capabilities: {type: boolean}
    WirePaginationContext:
      type: object
      properties:
        nextToken: {type: string}
        maxResults: {type: integer}
        performPagination: {type: boolean}
    WireFriendlyNameRequest:
      type: object
      properties:
        friendlyName:
          $ref: '#/components/schemas/WireFriendlyNameValue'
      required: [friendlyName]
    WireFriendlyNameValue:
      type: object
      properties:
        type: {type: string}
        value:
          $ref: '#/components/schemas/WireFriendlyNameText'
      required: [type, value]
    WireFriendlyNameText:
      type: object
      properties:
        text: {type: string}
      required: [text]
    WireCommand:
      type: object
      properties:
        type: {type: string}
        device_id: {type: string}
        payload: {}
        namespace: {type: string}
        name: {type: string}
      required: [type]
      additionalProperties: true
    WireInterfacePayload:
      type: object
      description: Caller-supplied JSON object; nil is serialized by this client as an empty object.
      additionalProperties: true
    WireDevicesV2Response:
      type: object
      properties:
        devices:
          type: array
          items:
            $ref: '#/components/schemas/WireDeviceV2'
      required: [devices]
      additionalProperties: true
    WireDeviceV2:
      type: object
      properties:
        accountName: {type: string}
        appDeviceList:
          type: array
          items:
            $ref: '#/components/schemas/WireAppDevice'
        associatedUnitIds:
          type: array
          nullable: true
          items: {type: string}
        capabilities:
          type: array
          items: {type: string}
        charging: {type: boolean, nullable: true}
        clusterMembers:
          type: array
          items: {type: string}
        deviceAccountId: {type: string}
        deviceFamily: {type: string}
        deviceOwnerCustomerId: {type: string}
        deviceType: {type: string}
        deviceTypeFriendlyName: {type: string, nullable: true}
        essid: {type: string, nullable: true}
        language: {type: string, nullable: true}
        macAddress: {type: string, nullable: true}
        online: {type: boolean}
        parentClusters:
          type: array
          items: {type: string}
        postalCode: {type: string, nullable: true}
        registrationId: {type: string, nullable: true}
        remainingBatteryLevel: {type: integer, nullable: true}
        serialNumber: {type: string}
        softwareVersion: {type: string}
      additionalProperties: true
    WireAppDevice:
      type: object
      properties:
        deviceAccountId: {type: string}
        deviceType: {type: string}
        serialNumber: {type: string}
      additionalProperties: true
    WireUserInfo:
      type: object
      description: May contain personal account information.
      properties:
        countryOfResidence: {type: string}
        effectiveMarketPlaceId: {type: string}
        email: {type: string}
        eulaAcceptance: {type: boolean}
        features:
          type: array
          items: {type: string}
        fullName: {type: string}
        hasActiveDopplers: {type: boolean}
        id: {type: string}
        marketPlaceDomainName: {type: string}
        marketPlaceId: {type: string}
        marketPlaceLocale: {type: string}
      additionalProperties: true
    WireBehaviorPreviewRequest:
      type: object
      properties:
        behaviorId: {type: string}
        sequenceJson:
          type: string
          description: JSON-encoded sequence serialized as a string by the client.
        status: {type: string}
      required: [behaviorId, sequenceJson, status]
    WireMediaCommand:
      type: object
      properties:
        type:
          type: string
          enum: [PlayCommand, PauseCommand, NextCommand, PreviousCommand, ForwardCommand, RewindCommand, ShuffleCommand, RepeatCommand]
        shuffle: {type: boolean}
        repeat: {type: boolean}
      required: [type]
    WireGraphQLRequest:
      type: object
      properties:
        query: {type: string}
        operationName: {type: string}
        variables:
          type: object
          additionalProperties: true
      required: [query]
      additionalProperties: true
    WireGraphQLResponse:
      type: object
      properties:
        data:
          type: object
          additionalProperties: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WireGraphQLError'
      additionalProperties: true
    WireGraphQLError:
      type: object
      properties:
        message: {type: string}
        locations:
          type: array
          items:
            $ref: '#/components/schemas/WireGraphQLErrorLocation'
        path:
          type: array
          items: {}
        extensions:
          type: object
          additionalProperties: true
      required: [message]
      additionalProperties: true
    WireGraphQLErrorLocation:
      type: object
      properties:
        line: {type: integer}
        column: {type: integer}
      required: [line, column]
    WirePlayerStateResponse:
      type: object
      properties:
        playerInfo:
          $ref: '#/components/schemas/WirePlayerInfo'
      additionalProperties: true
    WirePlayerInfo:
      type: object
      properties:
        hint: {type: string}
        infoText: {$ref: '#/components/schemas/WireInfoText'}
        isPlayingInLemur: {type: boolean}
        lemurVolume: {type: integer}
        lyrics: {type: string}
        mainArt: {$ref: '#/components/schemas/WireArt'}
        mediaId: {type: string}
        miniArt: {$ref: '#/components/schemas/WireArt'}
        miniInfoText: {$ref: '#/components/schemas/WireInfoText'}
        playbackSource: {type: string}
        playingInLemurId: {type: string}
        progress: {$ref: '#/components/schemas/WireProgress'}
        provider: {$ref: '#/components/schemas/WireProvider'}
        quality: {type: string}
        queueId: {type: string}
        state: {type: string}
        template: {$ref: '#/components/schemas/WireTemplate'}
        transport: {$ref: '#/components/schemas/WireTransport'}
        upNextItems: {}
        volume: {$ref: '#/components/schemas/WireVolume'}
      additionalProperties: true
    WireInfoText:
      type: object
      properties:
        header: {type: string}
        headerSubtext1: {type: string}
        multiLineMode: {type: boolean}
        subText1: {type: string}
        subText2: {type: string}
        title: {type: string}
      additionalProperties: true
    WireArt:
      type: object
      properties:
        altText: {type: string}
        artType: {type: string}
        contentType: {type: string}
        url: {type: string, format: uri}
        iconId: {type: string}
        iconStyles: {type: string}
      additionalProperties: true
    WireProgress:
      type: object
      properties:
        allowScrubbing: {type: boolean}
        locationInfo: {type: string}
        mediaLength: {type: integer}
        mediaProgress: {type: integer}
        showTiming: {type: boolean}
        visible: {type: boolean}
      additionalProperties: true
    WireProvider:
      type: object
      properties:
        artOverlay: {$ref: '#/components/schemas/WireArt'}
        fallbackMainArt: {$ref: '#/components/schemas/WireArt'}
        providerDisplayName: {type: string}
        providerLogo: {$ref: '#/components/schemas/WireArt'}
        providerName: {type: string}
      additionalProperties: true
    WireTemplate:
      type: object
      properties:
        art: {$ref: '#/components/schemas/WireArt'}
        backgroundImageUrl: {type: string, format: uri}
        templateType: {type: string}
      additionalProperties: true
    WireTransport:
      type: object
      properties:
        closedCaptions: {type: string}
        layoutType: {type: string}
        lyrics: {type: string}
        next: {type: string}
        playPause: {type: string}
        previous: {type: string}
        rateContentAction: {$ref: '#/components/schemas/WireRateContentAction'}
        thumbsDown: {type: string}
        thumbsUp: {type: string}
      additionalProperties: true
    WireRateContentAction:
      type: object
      properties:
        mediaOwnerCustomerId: {type: string}
        rating: {type: string}
        type: {type: string}
      additionalProperties: true
    WireVolume:
      type: object
      properties:
        muted: {type: boolean}
        volume: {type: integer}
      additionalProperties: true
